#image{
    height:100px ;
    width: 100px;
    border: solid 1px black;
}
#gu{
    height: 100px ;
    width: 100px;
    border: solid 1px black;
}
#pa{
    height: 100px ;
    width: 100px;
    border: solid 1px black;
}
#tyoki{
    height: 100px;
    width: 100px;
    border: solid 1px black;
}
